nav {
  background-color: lightskyblue;
  height: 30px;
  border: 10px solid transparent;
  margin-bottom: 20px;
}
ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  box-shadow: 10px 10px;
}
a:hover {
  transform: scale(1.1);
  background-color: skyblue;
  color: white;
}